* {
    padding: 0;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700&display=swap');

:root {
    --brand-primary: #ff5555;
    /* --brand-primary: #ff5500; */
    --brand-secondary: #00C99F;
    --pageTitleFontSize: 34px;
    --dark: #000;
    --dark-2: #0e0e0e;
    --foreColor: #fff;
    --desc: 16px;
    --desc-title: 18px;
}

::selection {
    color: #fff;
    background: var(--brand-primary);
}

body {
    color: var(--foreColor);
    font-family: 'Poppins', sans-serif;
    transition-duration: 350ms;
    font-size: var(--desc);
    background-color: #000;
    letter-spacing: normal;
    font-weight: 400;
    transition: background-color 29s ease-in;
}

.navbar {
    width: -webkit-fill-available;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0px 20px;
    z-index: 1;
    background-color: transparent;
    border-bottom: 1px solid #272727;
}

.nav_ul {
    display: flex;
    gap: 20px;
}

li {
    list-style-type: none;
}

.logo a {
    font-size: 20px;
    letter-spacing: 1px;
    color: var(--brand-primary);
    text-decoration: none;
    font-weight: 600;
    font-family: "Roboto Condensed";
}

.sub_logo_text {
    color: #fff;
}

.nav_ul a {
    color: var(--foreColor);
    font-size: 18px;
    text-decoration: none;
    font-weight: 600;
    transition: all 0.5s ease;
    font-family: "Roboto Condensed";
}

.quick_contact a {
    color: var(--brand-primary);
    font-size: 16px;
    text-decoration: none;
    border: 1px solid var(--brand-primary);
    padding: 8px 16px;
    border-radius: 4px;
    font-family: "Roboto Condensed";
}

.quick_contact a:hover {
    background-color: var(--brand-primary);
    color: #fff;
}

.quick_contact a.active {
    background-color: var(--brand-primary);
    color: #fff;
}

.nav_ul a.active,
.nav_ul a:hover {
    color: var(--brand-primary);
    font-weight: 600;
}


a.contact_btn {
    background: var(--brand-primary);
    color: #fff;
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 5px;
    font-size: var(--desc);
    letter-spacing: 1.2px;
}

.hero_img {
    position: relative;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}

.hero_img img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.hero_img .shape_a {
    position: absolute;
    top: 50%;
    left: -15%;
    transform: translate(50%, -50%);
    font-size: 50px;
    color: var(--brand-secondary);
}

.hero_img .shape_b {
    position: absolute;
    top: 80%;
    right: 0;
    transform: translate(50%, -50%);
    font-size: 40px;
    color: var(--brand-secondary);
}

.hero_img .shape_c {
    position: absolute;
    top: 5%;
    right: 16%;
    transform: translate(50%, -50%);
    font-size: 40px;
    color: var(--brand-primary);
}

.hero_img .shape_d {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(50%, -50%);
    font-size: 40px;
    color: var(--brand-primary);
}

.hero_container {
    display: grid;
    grid-template-columns: 55% 35%;
    height: 85vh;
    align-items: center;
    place-content: center;
}

.hero_content h2 {
    font-size: var(--pageTitleFontSize);
    color: var(--foreColor);
    letter-spacing: 1.2px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    line-height: 1;
    font-family: "Roboto Condensed";
}

.hero_content h1 {
    font-size: var(--desc);
    color: var(--foreColor);
    font-weight: 500;
    margin-bottom: 10px;
}

.hero_content p {
    font-size: var(--desc);
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--foreColor);
    width: 75%;
}


a.explore_btn {
    background: var(--brand-primary);
    color: #fff;
    padding: 8px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: var(--desc);
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: "Roboto Condensed";
}

a.download_btn {
    background: var(--brand-secondary);
    color: #fff;
    padding: 8px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: var(--desc);
    display: flex;
    gap: 8px;
    font-family: "Roboto Condensed";
}

a.download_btn i {
    color: #fff;
}

a.download_btn:hover i {
    color: #fff;
}

.typing_animation span {
    font-size: 60px;
    display: inline-block;
    opacity: 0.1;
    animation: typing 5s infinite;
    letter-spacing: 1.2px;
    font-weight: 700;
    color: var(--brand-primary);
    font-family: "Roboto Condensed";
}

@keyframes typing {
    0% {
        opacity: 0.1;
    }

    25% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    75% {
        opacity: 0.1;
    }

    100% {
        opacity: 0.1;
    }
}

.typing_animation span:nth-child(1) {
    animation-delay: 0s;
}

.typing_animation span:nth-child(2) {
    animation-delay: 0.2s;
}

.typing_animation span:nth-child(3) {
    animation-delay: 0.4s;
}

.typing_animation span:nth-child(4) {
    animation-delay: 0.6s;
}

.typing_animation span:nth-child(5) {
    animation-delay: 0.8s;
}

.typing_animation span:nth-child(6) {
    animation-delay: 1s;
}

.typing_animation span:nth-child(7) {
    animation-delay: 1.2s;
}

.typing_animation span:nth-child(8) {
    animation-delay: 1.4s;
}

.typing_animation span:nth-child(9) {
    animation-delay: 1.6s;
}

.typing_animation span:nth-child(10) {
    animation-delay: 1.8s;
}

.typing_animation span:nth-child(11) {
    animation-delay: 2s;
}

.typing_animation span:nth-child(12) {
    animation-delay: 2.2s;
}

.typing_animation span:nth-child(13) {
    animation-delay: 2.4s;
}

.typing_animation span:nth-child(14) {
    animation-delay: 2.6s;
}

.typing_animation span:nth-child(15) {
    animation-delay: 2.8s;
}

.typing_animation span:nth-child(16) {
    animation-delay: 3s;
}

.typing_animation span:nth-child(17) {
    animation-delay: 3.2s;
}

.typing_animation span:nth-child(18) {
    animation-delay: 3.4s;
}

.typing_animation span:nth-child(19) {
    animation-delay: 3.6s;
}

.typing_animation span.text_white {
    color: #fff;
}

.hero_btns {
    display: flex;
    gap: 15px;
}


.social_link_wrap {
    display: inline-flex;
    align-items: center;
    gap: 18px;
    background: var(--dark-2);
    margin-top: 15px;
    padding: 0px 15px;
    border-radius: 5px;
    height: 50px;
}

.social_link_wrap span {
    font-size: var(--desc);
    color: var(--foreColor);
    font-family: "Roboto Condensed";
}

.social_links {
    display: flex;
    align-items: center;
    gap: 18px;
}

.social_links i {
    font-size: 20px;
    color: var(--foreColor);
}

.social_links i:hover {
    color: var(--brand-primary);
}

.social_links a {
    transition: all 0.5s ease;
}

.social_links a:hover {
    transform: scale(1.1);
}

.section_title {
    text-align: center;
    margin: 0;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about_section {
    margin-top: 60px;
}

.about_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    height: 100%;
}

.about_container h2 {
    font-size: 60px;
}

.about_cnt_wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 20px 0 0;
}

.about_cnt_wrap p {
    font-size: var(--desc);
    ;
    margin: 0;
    line-height: 1.5;
}

.about_cnt_wrap .about_title {
    font-family: "Roboto Condensed";
    font-size: var(--pageTitleFontSize);
    margin-bottom: 10px;
    color: var(--foreColor);
    display: flex;
    align-items: center;
    gap: 5px;
}

.about_img_wrap {
    position: relative;
    height: inherit;
}

.about_img_wrap img {
    max-width: 100%;
    width: 100%;
    height: 100%;
}

.about_img_wrap .shape_a {
    position: absolute;
    top: 20%;
    left: -10%;
    transform: translate(50%, -50%);
    font-size: 40px;
    color: var(--brand-primary);
}

.about_img_wrap .shape_b {
    position: absolute;
    bottom: 0;
    left: 0%;
    transform: translate(50%, -50%);
    font-size: 45px;
    color: var(--brand-secondary);
}

.about_img_wrap .shape_c {
    position: absolute;
    top: 0;
    right: 30%;
    transform: translate(50%, -50%);
    font-size: 40px;
    color: var(--brand-secondary);
}

.about_img_wrap .shape_d {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
    font-size: 40px;
    color: var(--brand-primary);
}

.about_content_block h5 {
    letter-spacing: normal;
    font-size: 20px;
    margin-bottom: 10px;
    color: var(--brand-primary);
    font-family: "Roboto Condensed";
}

.about_content_block.last_item p {
    display: list-item;
    margin: 0px 0px 5px 18px;
}


.company_logo {
    max-width: 100%;
    width: 60px;
    height: auto;
    margin-bottom: 10px;
}

.experience_section {
    height: 100%;
    margin-top: 40px;
    padding-bottom: 70px;
}

.experience_section .page_title {
    font-size: 34px;
    font-family: "Roboto Condensed";
    letter-spacing: 2px;
    margin: 0px 0px 0px 30px;
    color: var(--foreColor);
    display: flex;
    align-items: center;
    gap: 5px;
}

.experience_container {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
    place-content: center;
    gap: 20px;
}

.experience_divider {
    background-color: var(--dark-2);
    padding: 15px 30px;
    height: max-content;
    border-radius: 10px;
    border: 1px solid #1e1e1e;
}

.experience_divider b {
    font-size: 18px;
    font-family: "Roboto Condensed";
    font-weight: 500;
}

.experience_divider .company_name {
    font-family: "Roboto Condensed";
    font-size: 20px;
    letter-spacing: 1.2px;
    margin-bottom: 10px;
    color: var(--brand-primary);
}

.experience_divider .designation {
    font-size: 18px;
    margin-bottom: 4px;
}

.experience_divider .exp_duration {
    font-size: 18px;
    margin-bottom: 4px;
}

.experience_divider .job_location {
    font-size: 18px;
    margin-bottom: 4px;
}

.experience_divider .job_desc_title {
    font-size: 18px;
    margin: 20px 0px 10px 0px;
}

.experience_divider .job_desc_list {
    font-size: var(--desc);
    list-style-type: disc;
    margin-bottom: 8px;
    line-height: 1.5;
    color: #cfcfcf;
    display: list-item;
}

.job_desc_list_wrap {
    margin-left: 20px;
}

.experience_divider .job_desc_list i {
    margin-right: 5px;
    color: var(--brand-primary);
}

.experience_divider ul {
    padding: 0;
    margin: 10px 0 0px 20px;
}

.experience_divider span {
    font-style: italic;
    font-size: 16px;
    color: #cfcfcf;
}

.techstack_section {
    height: 100%;
    margin-top: 40px;
    padding-bottom: 70px;
}

.techstack_container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0px 30px;
}

.techstack_container .title {
    font-size: 34px;
    color: var(--foreColor);
    font-family: "Roboto Condensed";
    display: flex;
    align-items: center;
    gap: 10px;
}

.techstack_container ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    justify-content: space-between;
    row-gap: 30px;
    column-gap: 20px;
}

.techstack_container li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: var(--dark-2);
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #272727;
}


.techstack_container li h5 {
    font-size: 20px;
    font-weight: 400;
    color: var(--foreColor);
    font-family: "Roboto Condensed";
}

.techstack_container li img {
    max-width: 100%;
    width: 60px;
    height: auto;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #272727;
    background-color: #000;
}

.footer_container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px;
    gap: 10px;
}

.foo_left_content {
    display: flex;
    justify-content: space-between;
    width: 55%;
}

.foo_left_content p {
    color: #fff;
    font-size: 15px;
    margin: 0;
    line-height: 1.5;
    font-family: "Roboto Condensed";
}

.foo_social_links {
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 45%;
}

.foo_social_links a {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: #202020;
    border-radius: 50%;
}

.foo_social_links a i {
    font-size: 20px;
}

.foo_social_links a:hover {
    background-color: var(--brand-primary);
}

.contact_container {
    display: grid;
    grid-template-columns: 35% 40%;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.contact_content_sec {
    background-color: var(--dark-2);
    padding: 40px 30px 40px 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid #1e1e1e;
}


.contact_content_sec h1 {
    font-family: "Roboto Condensed";
    font-size: var(--pageTitleFontSize);
    width: fit-content;
    margin: 0;
    color: var(--foreColor);
    display: flex;
    align-items: center;
    gap: 10px;
}

.contact_content_sec a.contact_items {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    text-decoration: none;
    transition: 0.5s;
}

.contact_items:hover .contact_social_icons i {
    color: #fff
}

.contact_items:hover .contact_social_icons {
    background-color: var(--brand-primary);
}

.contact_social_text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contact_items .contact_social_text .title {
    color: var(--brand-primary);
    font-size: var(--desc);
    font-weight: 600;
    font-family: "Roboto Condensed";
}

.contact_items .contact_social_text .scl_sub_text {
    color: var(--foreColor);
    font-size: var(--desc);
    font-weight: 400;
}

.contact_social_icons {
    width: 40px;
    height: 40px;
    border: 1px solid var(--brand-primary);
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.contact_content_sec i {
    font-size: 20px;
    font-weight: 600;
    color: var(--brand-primary);
}

.contact_content_sec i:hover {
    color: #fff;
}

.contact_section {
    height: 100%;
    margin-top: 80px;
}

.enquiry_section {
    margin-top: 80px;
}

.enquiry_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow-y: hidden;
}

.enquiry_form_container {
    width: 45%;
}

.enquiry_form_container iframe {
    width: 100%;
    height: 100%;
    padding-bottom: 150px;
    width: 100%;
    height: 100%;
    padding-bottom: 150px;
    min-height: 600px;
    overflow: hidden;
}

.enquiry_form_container iframe body {
    overflow: hidden !important;
}

.enquiry_form_container iframe .RVEQke {
    background-color: #5156e9;
}

.enquiry_form_container h1 {
    font-family: "Roboto Condensed";
    font-size: var(--pageTitleFontSize);
    margin-bottom: 40px;
    text-align: center;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 10px;
}

.enquiry_img_sec {
    width: 45%;
}

.enquiry_img_sec img {
    height: 100%;
    width: 100%;
    max-width: 100%;
}

.curriculumvitae_section {
    padding: 20px 0px 0px 0px;
}

.curriculumvitae_container embed {
    height: 100vh;
}

.title_icon {
    color: var(--brand-primary);
}

.title_icon.right {
    transform: rotate(180deg);
}

.hamburger_menu {
    display: none;
}

.sidebar {
    width: 300px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -300px;
    background-color: #fff;
    transition: left 0.3s ease;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.sidebar.open {
    left: 0;
    padding: 10px;
}

.sidebar.open .close {
    cursor: pointer;
    color: white;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #555fff;
    border-radius: 50%;
    margin-left: auto;
}

.sidebar.open .close img {
    width: 25px;
    height: 25px;
}

.sidebar.open ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    height: inherit;
    justify-content: center;
}

.sidebar.open ul li.nav_links a {
    color: var(--dark) !important;
    background: transparent;
    -webkit-text-fill-color: var(--dark);
    text-decoration: none;
    font-weight: 600;
}

.sidebar.open ul li.nav_links a.active {
    color: var(--brand-primary) !important;
    -webkit-text-fill-color: var(--brand-primary);
}


/* PreLoader css begin */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    border: 20px solid var(--brand-primary);
    border-top: 20px solid var(--brand-secondary);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* PreLoader css end */

@media only screen and (max-width: 1440px) {
    .typing_animation span {
        font-size: 50px;
    }
}

@media only screen and (max-width: 1300px) {

    .hero_container {
        padding: 0px 50px;
        grid-row-gap: 50px;
    }

    .hero_content p {
        width: 70%;
    }

    .typing_animation span {
        font-size: 40px;
    }

    .techstack_container li {
        padding: 15px 30px;
    }

    .techstack_container li img {
        width: 80px;
    }

    .techstack_container li h5 {
        font-size: 18px;
    }
}


@media only screen and (max-width: 1024px) {

    .hero_container {
        grid-template-columns: repeat(1, 1fr);
    }

    .hero_content {
        text-align: center;
        order: 2;
    }

    .hero_btns {
        justify-content: center;
    }

    .hero_img {
        width: max-content;
        margin: 0 auto;
    }

    .hero_img img {
        width: 350px !important;
    }

    .hero_img i {
        font-size: 30px !important;
    }

    .hero_content p {
        display: flex;
        margin: 15px auto 15px auto;
    }

    .techstack_container ul {
        grid-template-columns: repeat(4, 1fr);
    }

    .footer_container {
        padding: 15px 10px;
    }

    .foo_left_content {
        width: 60%;
    }


    .foo_social_links {
        gap: 5px;
        width: 40%;
    }

    .nav_ul {
        display: none;
    }

    .logo {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    .hamburger_menu {
        display: flex;
        width: 45px;
        height: 45px;
        background-color: var(--brand-primary);
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .hamburger_menu img {
        width: 30px;
        height: 30px;
    }
}

@media only screen and (max-width: 800px) {
    .footer_container {
        flex-direction: column;
        gap: 10px;
    }

    .foo_left_content {
        width: 90%;
    }
}

@media only screen and (max-width: 767px) {
    .techstack_container li img {
        width: 60px;
    }

    .techstack_container ul {
        grid-template-columns: repeat(3, 1fr);
    }

    .typing_animation span {
        font-size: 30px;
    }

    .hero_content h2 {
        font-size: 30px;
    }

    .hero_content p {
        font-size: 16px;
    }

    .hero_container {
        padding: 0 30px;
    }
}


@media only screen and (max-width: 576px) {
    .hero_img img {
        width: 300px !important;
    }

    .hero_container {
        padding: 30px 20px;
    }

    .hero_content p {
        font-size: 15px;
    }

    .about_container {
        grid-template-columns: repeat(1, 1fr);
        padding: 30px 20px;
    }

    .experience_section {
        padding-bottom: 20px;

    }

    .experience_container {
        grid-template-columns: repeat(1, 1fr);
        padding: 20px 10px;
    }

    .techstack_section {
        margin-top: 0;
        padding-bottom: 20px;
    }

    .techstack_container {
        padding: 30px 20px;
    }

    .techstack_container ul {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .contact_container {
        grid-template-columns: repeat(1, 1fr);
        justify-content: space-between;
    }

    .contact_content_sec {
        order: 2;
        padding: 30px 10px 10px 10px;
    }

    .contact_content_sec a.contact_items {
        padding: 10px;
    }

    .contact_items .contact_social_text .scl_sub_text {
        font-size: 12px;
    }

    .contact_section {
        margin-top: 10px;
        padding-bottom: 30px;
    }

    .contact_img_sec {
        padding: 0px 40px;
    }

        .enquiry_container{
            flex-direction: column;
            justify-content: space-between;
        }

    footer {
        position: relative;
    }

    .foo_social_links {
        gap: 10px;
        width: 60%;
    }

    .foo_social_links a i {
        font-size: 16px;
    }

    .foo_social_links a {
        width: 35px;
        height: 35px;
    }

    .foo_left_content {
        width: max-content;
        justify-content: center;
        gap: 10px;
    }

    .foo_left_content {
        flex-direction: column;
        gap: 5px;
        text-align: center;
    }
}

@media only screen and (max-width: 480px) {
    .hero_img img {
        width: 300px !important;
    }

    .hero_content p {
        width: 85%;
    }
}

@media only screen and (max-width: 420px) {
    .hero_img img {
        width: 250px !important;
    }

    .hero_content p {
        width: 100%;
        margin: 15px auto 30px auto;
    }

    .hero_content h2 {
        font-size: 25px;
    }

    .typing_animation span {
        font-size: 25px;
    }

    .hero_container {
        grid-row-gap: 30px;
    }

    .foo_left_content p {
        font-size: 14px;
    }

    .foo_social_links {
        width: 80%;
    }
}

@media only screen and (max-width: 359px) {
    .hero_img img {
        width: 200px !important;
    }

    a.explore_btn {
        padding: 8px 10px;
        font-size: 12px;
    }

    a.download_btn {
        padding: 8px 10px;
        font-size: 12px;
    }

    .hero_content h2 {
        font-size: 20px;
    }

    .typing_animation span {
        font-size: 20px;
    }

    .social_link_wrap span {
        font-size: 12px;
    }

    .social_link_wrap {
        gap: 5px;
        padding: 0px 10px;
        height: 40px;
    }

    .social_links {
        gap: 12px;

    }

    .social_links i {
        font-size: 16px;
    }

    .hero_container {
        padding: 0 16px;
    }

    .hero_content p {
        font-size: 14px;
    }

}